# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# powerdesigner
.pdb

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
dist/

# Idea
target/
build/
out/
apidoc/
.idea/
*.log
