# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# VS
obj/
*.suo
*.pdb
*.manifest
/GetWebFileTool/bin/Debug/*.txt
/GetWebFileTool/bin/Debug/GetWebFileTool.vshost.exe
/GetWebFileTool/bin/Debug/GetWebFileTool.vshost.exe.manifest
/GetWebFileTool/bin/Debug/Config.ini
/GetWebFileTool/bin/Debug/GetWebFileTool.pdb
